@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    color: #0a2ff1;
    margin: 0 0 0 20px;   
    box-sizing: border-box;
}
section{
    width: 100vh;
    background-image: url(/Desarrollo_web_con_HTML/Desafio.3/imagenes/fondo.JPG);
    background-size: 60vh 160vh;
    /* background-position: bottom; */
    background-repeat: no-repeat;
}
span{
    background-color: #3ffff3;
}
h1{
    font-size: 78px;
    font-weight: 700;
}
p{
    font-size: 30px;
    font-weight: 400;
}
img{
    width: 60vh;
    height: auto;
}